* {
    padding: 0;
    margin: 0;
}
::placeholder {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}
header {
    padding-top: 27px;
}

.container {
    max-width: 1032px;
    margin: auto;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 33px;
    transition: 0.3s;
}

header nav ul li:hover {
    transform: rotate(360deg);
}

header nav ul li a {
    font-family: 'Heebo';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.main_banner {
    padding-top: 140px;
    padding-bottom: 71px;
}

.main_banner a {
    transition: 0.3s;
}

.main_banner a:hover {
    background-color: gold;
}

h1 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 40px;
}

.main_banner p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px;
}

.main_banner a {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    background: #FF6464;
    border-radius: 2px;
    padding: 13px 20px;
    color: #FFFFFF;
}

.my_photo {
    max-width: 243px;
    overflow: hidden;
    border-radius: 50%;
}

.main_banner .container {
    max-width: 858px;
    margin: auto;
}

.main_banner article {
    max-width: 498px
}

.main_banner img {
    display: block;
    width: 100%;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: start
}

.main_posts {
    background: #EDF7FA;
}

.main_posts .container {
    max-width: 856px;
    height: 60px;
    margin: auto;
}

.main_posts .container p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    width: 100%;
    text-align: start;
}

.main_posts .container a {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    text-align: right;
    color: #00A8CC;
    width: 100%;
    text-decoration: none;
}

.main_posts .posts {
    max-width: 856px;
    margin: auto;
}

.item_posts {
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 24px 22px 7px 22px;
    margin: 0 20px 32px 0;
    max-width: 418px;
}

.posts_what {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    margin-bottom: 17px;
}

.posts_when {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    margin-bottom: 11px;
}

.posts_when span {
    border: 1px solid #000000;
    margin: 0 20px
}

.posts_about {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.item_posts2 {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 24px 22px 7px 22px;
    margin: 0 0 32px 0;
    max-width: 418px;
}

.main_forms {
    background: #000000;
    padding-top: 68px;
    padding-bottom: 22px;
}

.main_forms .container {
    max-width: 564px;
    margin: auto
}

.main_forms form {
    text-align: center
}

.main_forms .m_f_row1 {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 0;
}

.main_forms .m_f_row2 {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0;
}

.main_forms .m_f_row3 {
    height: 127px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    margin-bottom: 30px;
}

.m_f_row1_1 {
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 0;
    border: none;
    padding: 18px 30px;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}

.m_f_row2_1 {
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    border: none;
    padding: 18px 30px;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}

.m_f_row3_1 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    resize: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    padding: 18px 30px;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}

.main_forms button {
    background-color: transparent;
    border: solid 2px #7EC4BD;
    /*height: 53px;*/
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #8BCAC3;
    padding: 16px 60px;
}

footer {
    padding-top: 51px
}

footer .container {
    max-width: 1032px;
    margin: auto;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 17px;
}

footer p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
    padding-top: 26px;
    margin-bottom: 54px;
}